@font-face {
    font-family: VT220;
    src: url(fonts/DECterm.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: VT220, 'Source Sans Pro', sans-serif;
}

.inline {
    display: inline;
}


a {
    text-decoration: none;
    color: #ffbf00;
}

/* This fires as soon as the element enters the DOM */
.skill-transition-enter, .skill-transition-appear {
    stroke-dashoffset: 500px;
    opacity: 0;
}
/* This is where we can add the transition*/
.skill-transition-enter-done, .skill-transition-appear-done {
    stroke-dashoffset: 0px;
    opacity: 1;
    transition: opacity 800ms ease-in-out, stroke-dashoffset 800ms linear 150ms;
}
/* This fires as soon as the this.state.showList is false */
.skill-transition-exit {
    stroke-dashoffset: 0px;
    opacity: 1;
}
/* fires as element leaves the DOM*/
.skill-transition-exit-done {
    stroke-dashoffset: 500px;
    opacity: 0;
    transition: opacity 800ms ease-in-out 150ms, stroke-dashoffset 800ms linear;
}

@media only screen and (max-height: 480px) {
    ul.navmenu-bottom {
        display: none;
    }
}
